$font-size-1: 90px !default;
$font-size-1-sm: 100px !default;
$font-size-2: 110px !default; // h4 - uppercased!, h6 not uppercased, text-small
$font-size-3: 120px !default; // h5
$font-size-4: 140px !default;
$font-size-5: 160px !default; // h3
$font-size-6: 180px !default; // h2
$font-size-7: 240px !default;
$font-size-8: 320px !default; // h1
$font-size-9: 360px !default;
$font-size-10: 420px !default;
$font-size-10-sm: 480px !default;